@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>
    This is a .NET 8 Blazor Web App with Global Server Interactivity.
</p>
<p>
    The goal is to retrieve the logged-in user's email address in the NavMenu.
</p>
<p>
    To do this, we copied code from Components\Account\Pages\Manage\Index.razor
</p>
<p>
    After creating the initial auth database, and registering as a user, uncomment the code in NavMenu OnInitializedAsync()
</p>
<p>
    Run the app and log in, then go to the Manage page to see the user's email address.
</p>
<p>
    The app will crash with the error "A second operation was started on this context instance before a previous operation completed. This is usually caused by different threads concurrently using the same instance of DbContext."
</p>